<p>Bonjour {{ fullName }},</p>
<p>Merci pour votre inscription. Cliquez sur le lien ci-dessous pour confirmer votre adresse e-mail :</p>
<p>
    <a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
</p>
<p>Ce lien expirera dans 10 minutes.</p>
